*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# IDEs etc.
.project
.classpath
.cache-main
.settings/
.bloop/
.bsp/
.idea/
.metals/
.vscode/
project/.bloop/
project/metals.sbt

## Blender

*.blend1

## Bubblewrap/gradle

.gradle
gradle
build
bubblewrap/app