@font-face {
  font-family: "CaveatBrush";
  src: url("CaveatBrush-Regular.ttf");
}

body {
  background-color: #f0f0f0;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  font-family: "CaveatBrush";
  touch-action: none;
}

#hud, #overlay {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#version-info {
  position: absolute;
  width: 100%;
  bottom: 0px;
  pointer-events: none;
  display: none;
}
#hud.startup #version-info {
  display: block;
}

.score {
  text-align: center;
  font-size: 1.5em;
  color: white;
  text-shadow: 0 0 5px black;
}
#level-info {
  position: absolute;
  width: 100%;
  pointer-events: none;
}
#popup.visible .message p {
  animation: .5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 2s normal both running text-fly-in;
}
#popup.visible .message p:nth-child(1) {
  animation-delay: .6s;
}
#popup.visible .message p:nth-child(2) {
  animation-delay: 1.5s;
}
@keyframes text-fly-in {
  0% { transform: translateX(50%); opacity: 0 }
  100% { transform: translateX(0); opacity: 1 }
}

#overlay {
  pointer-events: none;
}

#popup, #level-list {
  font-size: 2.5em;
  color: white;
  text-shadow: 0 0 5px black;
  position: absolute;
  left: 50%;
  top: 50%;
  max-height: 90%;
  transform: translateX(-50%) translateY(-10%) scale(0.7);
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 800ms;
  display: block;
  opacity: 0;
  text-align: center;
}
#popup {
  pointer-events: none;
}
#level-list {
  display: none;
  top: 50%;
  width: 90%;
  overflow-y: auto;
  scroll-margin: 0;
}
#level-list::-webkit-scrollbar {
  display: none;
}

#hud.startup #level-list {
  padding-top: calc(55vh);
}

#popup.visible, #hud.startup #level-list, #hud.levelscreen #level-list {
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
  display: block;
  width: 90%;
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 200ms;
}

#popup .level-name {
  margin-top: calc(25vh);
}

#level-list .level-sel {
  width: 130px;
  height: 130px;
  margin: 5px;
  background-color: rgba(120, 120, 120, 0.9);
  /*box-shadow: 0 0 5px black;*/
}
#level-list .level-sel img {
  display: block;
  margin: auto;
}
#level-list .level-sel .score {
  opacity: 0.6;
  padding-left: 5px;
  font-size: 14px;
}
#level-list .level-sel.score-updated .score {
  color: #ed4;
  opacity: 0.8;
}
#level-list .level-sel.current-level {
  border: 3px solid white;
}
#level-list .level-sel:hover, #level-list .level-sel:focus {
  transform: scale(1.05);
  transition: transform 300ms;
}
a {
  color: #dd33bb;
}
a:hover {
  color: #aa2299;
  text-decoration: none;
}
#level-list .level-sel.social-button {
  margin-left: 20px;
  width: 180px;
  background-color: rgba(60, 60, 60, 0.8);
}

.scene-fadeout {
  background: rgb(40,10,40);
  opacity: 1.0;
  transition: opacity 0.6s;
}
.scene-fadein {
  background: rgb(40,10,40);
  transition: opacity 0.6s;
  opacity: 0.0;
}